{% extends "base.html" %}

{% block content %}

<script>
  const assignments = JSON.parse(`{{ assignments | tojson | safe }}`);
  window.assignments = assignments;
</script>

<div class="dashboard-page">

    <div class="dashboard-background"{% if user.wallpaper %} style="background-image: url('/static/uploads/wallpapers/{{ user.wallpaper }}');"{% endif %}>

        <div class="dashboard-content">

            <div id="dashboard" class="dashboard-grid"></div>

        </div>

    </div>

</div>

{% include "components/notification-modal.html" %}
{% include "components/assignment-modal.html" %}

{% endblock %}