<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Assignment Logbook{% endblock %}</title>
        
        <!-- CSS -->
        <link rel="stylesheet" href="/static/css/style.css">

        <link href="https://upload.wikimedia.org/wikipedia/commons/archive/a/a5/20221106121914%21Google_Calendar_icon_%282020%29.svg" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">

    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flash-messages">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        
        <!-- Hamburger menu -->
        <header class="navbar">
            <!-- LEFT -->
            <div class="nav-left">
                <img src="/static/images/Assignment Tracker Logo (192 x 192 px).png" class="nav-logo" alt="Logo">
            </div>

            <!-- CENTER -->
            <div class="nav-title">
                Assignment Logbook
            </div>

            <!-- RIGHT -->
            <button class="hamburger" onclick="toggleMenu()">☰</button>

            <nav id="nav-menu" class="nav-links">
                
                <!--- Hamburger menu links for logged in users--->
                {% if session.get('user_id') %}
                    <a href="{{ url_for('home') }}"
                    class="{% if request.endpoint == 'home' %}active{% endif %}">
                        Home
                    </a>

                    <a href="{{ url_for('show_form_add_assignment') }}"
                    class="{% if request.endpoint == 'show_form_add_assignment' %}active{% endif %}">
                        Add Assignment
                    </a>

                    <a href="{{ url_for('assignment_calendar') }}">Calendar</a>

                    <a href="{{ url_for('dashboard') }}">Dashboard</a>
                
                <!--- Hamburger menu links for non-logged in users--->
                {% else %}
                    <a href="{{ url_for('home') }}"
                    class="{% if request.endpoint == 'home' %}active{% endif %}">
                        Home
                    </a>    

                    <a href="{{ url_for('show_form_login') }}"
                    class="{% if request.endpoint == 'show_form_login' %}active{% endif %}">
                        Login
                    </a>

                    <a href="{{ url_for('show_form_create_account') }}"
                    class="{% if request.endpoint == 'show_form_create_account' %}active{% endif %}">
                        Create Account
                    </a>
                {% endif %}

                <!--- Universal hamburger menu links --->

                
            </nav>

        </header>
        <h1 class="center-text">Welcome to your Assignment Logbook</h1>
        <h3 class="center-text">Keep track of your assignments and stay organized!</h3>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        
        <!--- Javascript --->
        <script>
        /* =========================
        Hamburger Menu
        ========================= */
        function toggleMenu() {
            const menu = document.getElementById("nav-menu");
            menu.style.display = menu.style.display === "flex" ? "none" : "flex";
        }

        document.addEventListener("click", function(event) {
            const menu = document.getElementById("nav-menu");
            const button = document.querySelector(".hamburger");

            if (menu && button) {
                if (!menu.contains(event.target) && !button.contains(event.target)) {
                    menu.style.display = "none";
                }
            }
        });

        /* =========================
        Flash Messages
        ========================= */
        function closeFlash() {
            const overlay = document.getElementById("flash-overlay");
            if (overlay) {
                overlay.style.display = "none";
            }
        }

        document.addEventListener("click", function(event) {
            const flashBox = document.getElementById("flash-box");

            if (flashBox && !flashBox.contains(event.target)) {
                closeFlash();
            }
         });

         </script>

         <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.css" rel="stylesheet">
         <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>

         <script src="/static/js/app.js"></script>

     </body>
 </html>