<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Assignment Logbook{% endblock %}</title>

        <link rel="apple-touch-icon"href="/static/images/Assignment Tracker Logo - No Text (512 x 512 px).png">

        <link rel="manifest" href="/static/manifest.json">

        <meta name="csrf-token" content="{{ csrf_token() }}">

        <meta name="mobile-web-app-capable" content="yes">

        <meta name="apple-mobile-web-app-capable" content="yes">

        <meta name="apple-mobile-web-app-status-bar-style" content="default">

        <!-- CSS -->
        <link rel="stylesheet" href="/static/css/style.css">

        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">

    </head>

    <body>
        <!-- Flash messages HTML -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flash-messages">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <!-- Page header and nav buttons -->
        <header class="navbar">

            <!-- Left -->
            <div class="nav-left">
                <img src="/static/images/Assignment Tracker Logo - No Text (192 x 192 px).png" class="nav-logo" alt="Logo">
            </div>

            <!-- Center -->
            <div class="nav-title">
                Assignment Tracker
            </div>

            <!-- Right -->
            <div class="nav-right">

                <!-- Header buttons for auth users -->
                {% if session.get('user_id') %}
                <button class="settings-button" onclick="window.location.href='/settings'"> <span class="material-symbols-outlined">settings</span> </button>
                <button class="logout-button" onclick="window.location.href='/logout'"> <span class="material-symbols-outlined">logout</span> </button>
                {%endif%}

                <button class="hamburger" onclick="toggleMenu()"> <span class="material-symbols-outlined">menu</span> </button>

                <nav id="nav-menu" class="nav-links">

                    <!--- Hamburger menu links for logged in users--->
                    {% if session.get('user_id') %}
                        <a href="{{ url_for('home') }}"class="{% if request.endpoint == 'home' %}active{% endif %}">Home</a>

                        <a href="{{ url_for('show_form_add_assignment') }}"class="{% if request.endpoint == 'show_form_add_assignment' %}active{% endif %}">Add Assignment</a>

                        <a href="{{ url_for('calendar') }}">Calendar</a>

                        <a href="{{ url_for('dashboard') }}">Dashboard</a>

                        <a href="{{ url_for('study_statistics') }}">Study Statistics</a>

                        <a href="{{ url_for('settings') }}">Settings</a>

                        <a href="{{ url_for('logout') }}">Logout</a>

                    <!--- Hamburger menu links for non-logged in users--->
                    {% else %}
                        <a href="{{ url_for('home') }}"class="{% if request.endpoint == 'home' %}active{% endif %}">Home</a>

                        <a href="{{ url_for('show_form_login') }}"class="{% if request.endpoint == 'show_form_login' %}active{% endif %}">Login</a>

                        <a href="{{ url_for('show_form_create_account') }}"class="{% if request.endpoint == 'show_form_create_account' %}active{% endif %}">Create Account</a>
                    {% endif %}

                </nav>
            </div>

        </header>

        <h3 class="center-text">Keep track of your assignments and stay organized!</h3>

        <div class="content">
            {% block content %}

            <img src="/static/images/Assignment Tracker Logo (512 x 512 px).png" class="center-image" alt="Logo" >

            <p class="center-text">Welcome to Assignment Tracker, the site custom built to suit the needs of students like you!</p>

            {% endblock %}
        </div>

        <!-- Page footer -->
        <footer>
            
            <!-- Left -->
            <div class="footer-left">
                <p class="footer-text">© 2024 Assignment Tracker. All rights reserved.</p>
            </div>

            <!-- Right -->
            <div class="footer-right">
            </div>


        </footer>

        <!--- Javascript --->
        <script>

        /* Hamburger/Navbar */
        function toggleMenu() {
            const menu = document.getElementById("nav-menu");
            menu.style.display = menu.style.display === "flex" ? "none" : "flex";
        }

        document.addEventListener("click", function(event) {
            const menu = document.getElementById("nav-menu");
            const button = document.querySelector(".hamburger");

            if (menu && button) {
                if (!menu.contains(event.target) && !button.contains(event.target)) {
                    menu.style.display = "none";
                }
            }
        });

        /* Flash Messages */
        function closeFlash() {
            const overlay = document.getElementById("flash-overlay");
            if (overlay) {
                overlay.style.display = "none";
            }
        }

        document.addEventListener("click", function(event) {
            const flashBox = document.getElementById("flash-box");

            if (flashBox && !flashBox.contains(event.target)) {
                closeFlash();
            }
         });

        /* Dark Mode Toggle */

         const toggle = document.getElementById("darkModeToggle");

            if(toggle){
                toggle.onclick = () => {

                    document.body.classList.toggle("dark-mode");

                    localStorage.setItem(
                        "darkMode",
                        document.body.classList.contains("dark-mode")
                    );

                };

            }

            if(localStorage.getItem("darkMode") === "true"){

                document.body.classList.add("dark-mode");

            }

            if ("serviceWorker" in navigator) {

                window.addEventListener("load", () => {

                    navigator.serviceWorker
                        .register("/service-worker.js")
                        .then(registration => {

                            console.log(
                                "Service Worker registered:",
                                registration
                            );

                        })
                        .catch(error => {

                            console.error(
                                "Service Worker registration failed:",
                                error
                            );

                        });

                });

            }


         </script>

         <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>

         <script src="/static/js/app.js"></script>

     </body>
 </html>