{% extends 'base.html' %}

{% block title %}Create Account{% endblock %}

{% block heading %}Create your account{% endblock %}

{% block text %}{% endblock %}

{% block content %}
<div class="form-container">
    <div class="form-card">
        <form id='create_account' action='/create-account' method='POST' enctype='multipart/form-data'>
        
        <div class="form-group">
            <label for='username'>Username:</label>
            <input type='text' id='username' name='username' required><br><br>
        </div>

        <div class="form-group">
            <label for='email'>Email:</label>
            <input type='text' id='email' name='email' required><br><br>
        </div>
        
        <div class="form-group">
            <label for='password'>Password:</label>
            <input type='password' id='password' name='password' required><br><br>
        </div>

        <div class="form-group">
            <label for='confirmPassword'>Confirm Password:</label>
            <input type='password' id='confirmPassword' name='confirmPassword' required><br><br>
        </div>

        <div class="form-group">
            <button type='submit' class="btn btn-primary">Create Account</button>
        </div>

        </form>
    </div>
</div>
{% endblock %}