{% extends 'base.html' %}

{% block title %}Create Account{% endblock %}

{% block heading %}Create your account{% endblock %}

{% block text %}{% endblock %}

{% block content %}

        <form action='/create-account' method='POST' enctype='multipart/form-data'>

            <label for='username'>Username:</label>
            <input type='text' id='username' name='username'><br><br>

            <label for='email'>Email:</label>
            <input type='text' id='email' name='email'><br><br>

            <label for='password'>Password:</label>
            <input type='password' id='password' name='password' required><br><br>

            <input type='submit' value='Create Account'>
        </form>
{% endblock %}