{% extends "base.html" %}

{% block content %}

<div class="form-container">


    <!-- Update Email -->
    <div class="form-card">

        <h2>Email</h2>

        <form action="/update-email" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <label>Current Email</label>
        <div class="form-group">
            <input type="email" name="current_email" value="{{ user.email }}" readonly>
        </div>

        <label>New Email</label>
        <div class="form-group">
            <input type="email" name="new_email" required>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary"> Update Email </button>
        </div>

        </form>

    </div>


    <!-- Wallpaper Add/Remove-->
    <div class="form-card">

        <h2>Dashboard Wallpaper</h2>

        <form action="/update-wallpaper" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            
        <label>Select Image</label>
        <div class="form-group"> 
            <input type="file" id="wallpaperInput" name="wallpaper" accept="image/*" required>
        </div>

        <div class="form-group">
            <img id="wallpaperPreview" src=""style="display:none; width:250px; height:150px; object-fit:cover; border-radius:15px; margin-top:15px; ">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary"> Upload Wallpaper </button>
        </div>

        </form>

        <div class="form-group">
            <form action="/reset-wallpaper" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                
            <button class="btn btn-secondary"> Reset Wallpaper </button>
            </form>
        </div>

    </div>    


    <!--Password Reset-->
    <div class="form-card">
        
        <h2>Password</h2>

        <form action="/change-password" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <label>Current Password</label>
        <div class="form-group">
            <input type="password" name="current_password" required>
        </div>

        <label>New Password</label>
        <div class="form-group">  
            <input type="password" name="new_password" required>
        </div>

        <label>Confirm New Password</label>
        <div class="form-group">
            <input type="password" name="confirm_password" required>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary"> Update Password </button>
        </div>

        </form>

    </div>


    <!-- Dark Mode Toggle -->
    <div class="form-card">
        
            <h2>Appearance</h2>

            <p>Toggle dark mode for the app interface.</p>

        <div class="form-group">
            <button id="darkModeToggle" class="btn btn-secondary"> Toggle Dark Mode </button>
        </div>
        

    <!-- Delete Account -->

        <h2>Danger Zone</h2>

        <p>Once deleted, your account cannot be recovered.</p>

        <form action="/delete-account" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="form-group">
            <button type="button" id="deleteAccountBtn" class="btn btn-iconDelete"> Delete Account </button>
        </div>

        </form>

    </div>

</div>

<!-- Script for Wallpaper Preview-->
<script>

    const wallpaperInput =
    document.getElementById("wallpaperInput");


    const preview =
    document.getElementById("wallpaperPreview");


    wallpaperInput.addEventListener(
    "change",
    function(){

        const file=this.files[0];

        if(file){

            preview.src =
            URL.createObjectURL(file);

            preview.style.display="block";

        }

    });

</script>

{% include "components/account-delete-modal.html" %}

{% endblock %}