<div id="accountDeleteModal" class="modal hidden">

    <div class="modal-content small-modal">

        <h2>Delete Account?</h2>

        <p>Are you sure you want to permanently delete your account?<br><br>This will remove all assignments and study history and cannot be undone.</p>

        <div class="modal-actions">

            <button id="cancelAccountDeleteBtn" class="btn btn-secondary">
                Cancel
            </button>

            <button id="confirmAccountDeleteBtn" class="delete-btn">
                Delete Account
            </button>

        </div>

    </div>

</div>