<div id="modal" class="modal hidden">
  <div class="modal-content">

    <span id="closeBtn" class="close-btn">&times;</span>

    <h2 id="modalTitle"></h2>

    <p><strong>Subject:</strong> <span id="modalSubject"></span></p>
    <p><strong>Type:</strong> <span id="modalType"></span></p>
    <p><strong>Due:</strong> <span id="modalDue"></span></p>

    <span id="modalPriority" class="priority-bubble"></span>

    <div id="modalOverdue"></div>

    <hr>

    <p id="modalNotes"></p>

    <div class="modal-actions">
    <button type="button" id="editBtn" class="edit-btn">
        Edit Assignment
    </button>

    <button type="button" id="completeBtn" class="complete-btn">
        Mark as Complete
    </button>
    </div>

  </div>
</div>